@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.dark-mode{
  background-color: #111;
  color: #fff;
}

.toggle-button {
  cursor: pointer;
  /* Add styles for the toggle button */
}
.swiper-button-next {
  background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: 50%;
    width: 50px!important;
    height: 64px!important;
    top: 40%!important;
    
    opacity:0.8!important;
  color: transparent!important;
     /* right: 10 !important; */
    background-image: url('images/arrow.png')!important;
    font-style: bold!important;
}
.swiper-button-prev {
  background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: 50%;
    transform: rotate(180deg);
    width: 50px!important;
    height: 64px!important;
    top: 40%!important;

  opacity:0.8!important;
  color: transparent!important;
     /* right: 10 !important; */
    background-image: url('images/arrow.png')!important;
    font-style: bold!important;
}
.swiper-button-next:hover {
 
  opacity:1!important;
  background-size: 80% auto!important;
  color:transparent;

  font-style:bold!important;
}
.swiper-button-prev:hover {
  
  opacity:1!important;
  background-size: 80% auto!important;
  color:transparent;

  font-style:bold!important;
}
.swiper-scrollbar {

  width: 0!important;
  margin-top: 10px!important;
  background: transparent; /* Change the background color */
}

.swiper-scrollbar-drag {
  width: 0 !important;
  background: green!important; /* Change the drag handle color */
}
